*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    min-height: 100vh;
    width: 100%;
}

#top{
    display:flex ;
    width: 100%;
    min-height: 60vh;
    position: relative;
    overflow: hidden;
}

#mainimg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#overlay{
    display: flex;
    min-height: 100vh;
    width: 100%;
    background-color: #3333334c;
    position: relative;
}

#text{
    display: flex;
    position: absolute;
    bottom: 20%;
    width: 100%;
    padding: 0 10vh;
    justify-content: space-between;
    align-items: center;
}
#text h1{
    color: white;
    font-size: 10vh;
    font-weight: 500;
    text-shadow: 0 3px 8px #000;
}

#textright{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#textright p{
    color: white;
    font-size: 13px;
    width: 30%;
    text-shadow: 0 3px 8px #000;
}

#icons{
    display: flex;
    font-size: 20px;
    width: 15%;
    justify-content: space-between;
    color: white;
    text-shadow: 0 2px 5px #000;
}

#bottom{
    width: 100%;
    min-height: 40vh;
    display: flex;
}

#b1{
    width: 25%;
    min-height: inherit;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: space-evenly;
}

#b1 p{
    font-size: 15px;
}
#b2{
    width: 25%;
    min-height: inherit;
    background-image: url(https://images.unsplash.com/photo-1513167179867-0229b6b051a7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDN8fHRyYXZlbGxlciUyMGJveXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-position: center;
}
#b3{
    width: 20%;
    min-height: inherit;
}

#b3top{
    width: 100%;
    min-height: 20vh;
    background-color: rgba(255, 0, 0, 0.877);
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#b3top h3{
    width: 70%;
}

#b3bottom{
    width: 100%;
    min-height: 20vh;
    background-image: url(https://images.unsplash.com/photo-1532959727713-c8dfc3694649?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTIzfHxmbG93ZXJzfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: 50% 70%;
}
#b4{
    width: 30%;
    min-height: inherit;
    background-color: #333333ea;
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}

.notification{
    margin: 20px 10px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 12px;
    align-items: center;
    
}

.notification img{
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.notification p{
    width: 60%;
}

/* media Query 1 */
 @media (max-width:500px){

    #overlay #text h1{
      font-size: 11vw;
      margin-bottom: 10px;
    }
    
    #overlay #text{
       flex-direction: column;
       align-items: flex-start; 
    }

    #overlay #text #textright{
        flex-direction: column;
        align-items: flex-start;
    }

    #overlay #text #textright p{
        width: initial;
        font-size: 14px;
        margin-top: 35px;
    }

    #overlay #text #textright #icons{
        margin-top: 35px;
        font-size: 25px;
        gap: 35px;
    }

    #bottom{
        flex-direction: column;
    }
    #b1{
        width: 100%;
    }
    #b2{
        width: 100%;
        height: 50vh;
    }
    #b3{
        width: 100%;
        flex-direction: column;
    }
    #b3bottom{
        height: 40vh;
    }
    #b4{
        width: 100%;
    }
} 

/* media query 2 */
 @media (max-width:1000px){

    #overlay #text h1{
      font-size: 12vw;
      margin-bottom: 10px;
    }
    
    #overlay #text{
       flex-direction: column;
       align-items: flex-start; 
    }

    #overlay #text #textright{
        flex-direction: column;
        align-items: flex-start;
    }

    #overlay #text #textright p{
        width: initial;
        font-size: 15px;
        margin-top: 35px;
    }

    #overlay #text #textright #icons{
        margin-top: 40px;
        font-size: 40px;
        gap: 35px;
    }

    #bottom{
        flex-direction: column;
    }
    #b1{
        width: 100%;
        text-align: center;
    }
    #b1{
       font-size: 3vw;
    }
    #b1 p{
       font-size: 1.75vw;
    }
    #b2{
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 50vh;
    }
    #b3{
        width: 100%;
        text-align: center;
        flex-direction: column;
    }
    #b3top{
        font-size: 1.85vw;
    }
    #b3bottom{
        height: 40vh;
    }
    #b4{
        width: 100%;
    }
    #b4 h4{
        font-size: 2vw;
    }
    #b4 .notification{
        font-size: 1.85vw;
    }
} 